# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.eep 
*.srec
Makefile
*.mk
# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
LAB3/.vs/LAB3/v14/.atsuo
LAB4/GraphicalDisplay/.vs/GraphicalDisplay/v14/.atsuo
LAB4/GraphicalDisplay/.vs/GraphicalDisplay/v14/.atsuo
Projekt/Flappy_2.0/.vs/Flappy_2.0/v14/.atsuo
Projekt/Flappy_2.0/.vs/Flappy_2.0/v14/.atsuo
*.lss
